body {
    background-color: white; /* Warna background default */
    color: black; /* Warna teks default */
  }
  
  .sun-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 24px;
    padding: 10px;
    border: none;
    background-color: #ffc107;
    color: black;
    border-radius: 50%;
    cursor: pointer;
  }
nav{
    background-color: white; /* Warna background default */
    color: black; /* Warna teks default */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px seagreen; 
    position: fixed;
}
#ikuti{
    background-image: url(./img/caffe1.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    color: white;
}

.div-ikuti{
    background: rgb(43,41,41);
background: linear-gradient(90deg, rgba(43,41,41,0.8) 0%, rgba(43,41,41,0.8) 47%, rgba(19,115,26,0.8) 47%, rgba(19,115,26,0.8) 100%);
}

@media screen and (max-width: 560px){
    #ikuti {
        height: 200px;
    }
}